@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Machine Learning Train Web</h1>
    <p class="lead">Azure Machine Learning is a powerful cloud-based predictive analysis platform.</p>
    <p><a href="http://azure.com/ml" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Microsoft Azure Machine Learning (maml) provides a powerful cloud-based predictive analysis platform allowing you to:
        <ul>
            <li>Model your way</li>
            <li>Deploy in minutes</li>
            <li>Expand your reach</li>
        </ul>
        </p>
        <p><a class="btn btn-default" href="http://azure.com/ml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pricing</h2>
        <p><a class="btn btn-default" href="http://azure.microsoft.com/en-us/pricing/details/machine-learning/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>This Training</h2>
        <p>Step into this area for more information, links, etc. related to this training block.</p>
        <p><a class="btn btn-default" href="./Training">Learn more &raquo;</a></p>
    </div>
</div>