@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <h4>Ex. Block 1</h4>
            <p>Link for Azure Blob with SAS - "copy to clipboard"</p>
            <a href="https://scicoriagfun.blob.core.windows.net/mlnyc/zoo.data.txt?sv=2014-02-14&sr=b&si=nyc&sig=Vx5KEDJSZmrXEzRwqDju%2BXMB2rtSBwunPjDunckSUrs%3D">https://scicoriagfun.blob.core.windows.net/mlnyc/zoo.data.txt?sv=2014-02-14&sr=b&si=nyc&sig=Vx5KEDJSZmrXEzRwqDju%2BXMB2rtSBwunPjDunckSUrs%3D</a>
        </div>
        <div class="row">
            <p>Zoo Data Set</p>
            <a href="https://archive.ics.uci.edu/ml/machine-learning-databases/zoo/">Source</a>
            <br />
            <a href="~/Content/data/zoo.data.txt">Copy</a>
        </div>
        <div class="row">
            <h4>Ex. Block 2</h4>
            <p>Flight Delay Study</p>
            <a href="http://cs229.stanford.edu/proj2012/CastilloLawson-PredictingFlightDelays.pdf">http://cs229.stanford.edu/proj2012/CastilloLawson-PredictingFlightDelays.pdf</a>
            <p>BTS Data</p>
            <a href="http://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236>">http://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236</a>
            <p>XLS Prepped File - 2013</p>
            <a href="~/Content/data/flight-sample.xlsx">flight-sample.xlsx</a>
            <p>NOAA Weather Sample 2013</p>
            <a href="~/Content/data/weather-sample.xlsx">weather-sample.xlsx</a>
        </div>
    </div>


</div>

